@import "tailwindcss";

:root {
  --background: #1f2048;
  --foreground: #ffffff;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-syncopate: "Syncopate", sans-serif;
}

@theme {
  --font-space-grotesk: var(--font-space-grotesk);
  --font-syncopate: var(--font-syncopate);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #31326f;
  color: white;
  font-family: var(--font-space-grotesk);
}

h1,
h2,
h3,
.font-heading {
  font-family: var(--font-syncopate);
}

.text-balance {
  text-wrap: balance;
}

.cursor-wait {
  cursor: wait;
}